html,
body {
  height: 100%;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  width: 24px;
  height: 24px;
  margin-bottom: auto;
}

@media (min-width: 576px) {
  .video-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .video-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .video-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .video-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .video-container {
    display: flex;
    justify-content: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

#profile-id {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 576px) {
  .contact_me {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .contact_me {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .contact_me {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .contact_me {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .contact_me {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
