* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popppins", Georgia;
}
i {
  margin-right: 10px;
}
h1 {
  font-family: Georgia;
  color: black;
  font-size: larger;
  font-weight: 100;
}
h2 {
  font-family: Georgia;
  color: black;
  text-align: center;
  font-size: medium;
  font-weight: 100;
}
.logo {
  background-color: #808080;
}

.list-skill {
  font-family: Georgia;
  font-size: medium;
  font-weight: 100;
  color: black;
}
#sdet-home {
  font-family: Georgia;
  font-size: medium;
  font-weight: 100;
  color: black;
}

#about-id {
  font-family: Georgia;
  font-size: medium;
  font-weight: 100;
  color: black;
}

footer {
  position: relative;
  width: 100%;
  background: #808080;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5px;
}
header {
  position: relative;
  width: 100%;
  background: #808080;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

#social-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#social-media {
  list-style: none;
}
#social-media li #icon-id {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
#social-media li #icon-id:hover {
  transform: translateY(-15px);
  color: ghostwhite;
}

footer li #icon-id {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer li #icon-id:hover {
  opacity: 1;
  color: #fff;
}
#footer-p {
  color: whitesmoke;
  margin: 0;
  padding: 0;
  font-size: medium;
  text-decoration: none;
  font-family: Georgia;
}
.note {
  text-align: center;
  font-family: Georgia;
  font-size: medium;
  font-weight: 100;
  color: black;
  margin-bottom: auto;
}
#note-id-1st {
  margin-bottom: 0;
}

#note-id-2nd {
  margin: 0;
  padding-top: 0;
}
#note-id-3rd {
  margin: 0;
  padding-top: 0;
}

/*----------bootstrap-navbar-css-----------*/

.container-fluid {
  background: #808080;
}
.navbar-mainbg {
  background-color: #808080;
  padding: 0px;
}
